<h2><%= post.title %></h2>
<p>by <% author.name %> </p>

<p><%= post.content %></p>


//----add form---//
<form method="POST" action="/posts/<%=post.id%>/comments">
    <input type="text" name="name" placeholder ="Name:"><br />
    <input type="text" name="content" placeholder="Type comment"> <br />

    <input type="submit" value="Comment now">
    </form>
<hr />

<% post.comments.forEach(function(comment) {%>
<p><%= comment.content%> </p>
<%})%>